body {
  color: blue;
}
form {
  text-align: center;
}

.match {
  display:block;
  padding-bottom: 25px;
  border-style: solid;
  border-width: 1px 2.5px 2.5px 1px;
  border-radius: 5px;
  border-color: black;
  margin: 10px;
  min-height: 20px;
  overflow: hidden;

}

.blue {
  border-color: blue;
  border-style: solid;
  border-width: 0px 2.5px 0px 0px;
  display:block;
  float:left;
  color: black;
  left: 30%;

}

.red {
  
  display:block;
  width:400px;
  float:left;  
  color: black;
}

.name {
  display:inline-block;
  width:200px;
  padding: 5px;
}

.cs {
  display:inline-block;
  width:50px;
}

.kda {
  display:inline-block;
  width:100px;
}