body {
  color: #000F42;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  background-image: url('https://images6.alphacoders.com/406/406838.png');

}
form {
  text-align: center;
}

.match {
  display:inline-block;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px 2.5px 2.5px 1px;
  border-radius: 5px;
  border-color: black;
  margin: 10px;
  min-height: 10px;
  overflow: hidden;
  background: rgba(104, 124, 140, 0.75);
  

}

.blue {
  border-color: blue;
  border-style: solid;
  border-width: 0px 2.5px 0px 0px;
  display:inline-block;
  text-align: center;
}

.red {
  
  display:inline-block;
  text-align: center;
}

.name {
  display:inline-block;
  width:200px;
  padding: 5px;
}

.cs {
  display:inline-block;
  width:50px;
}

.kda {
  display:inline-block;
  width:100px;
}