body {
  color: blue;
}

.match {
  display:block;
  padding-bottom: 25px;
  border-style: solid;
  border-width: 1px 2.5px 2.5px 1px;
  border-radius: 5px;
  border-color: black;
  margin: 10px;
  min-height: 20px;
  overflow: hidden;

}

.blue {
  background-color: blue;
  display:block;
  width:280px;
  float:left;
  color: white;

}

.red {
  background-color: red;
  display:block;
  width:280px;
  float:left;  
  color: white;
}

.name {
  display:inline-block;
  width:200px;
}